
.banner-text {
  //alignment
    width: 100%;
    height: 100%;
    align-self: center;
    text-align: center;
    h1 {
      font-size: 60px;
    }

    // text fonts for the banner
    font-family: Poppins-SemiBold,Helvetica,Arial,sans-serif;
    p {
      padding-top: 30px;;
      font-family: Poppins-Regular,Helvetica,Arial,sans-serif;
    }
    // button design
    .button {
      text-align: center;
      cursor: pointer;
      padding: 1rem 3rem;
      display: inline-block;
      border-radius: 50px;
      outline: none;
      border: none;
      margin: 1rem;
      font-family: Poppins-SemiBold,Helvetica,Arial,sans-serif;
      font-size: 16px;
      text-transform: uppercase;
      color: #fff !important;
      background-image: linear-gradient(-45deg, #f761a1 0, #8c1bab 100%);
      box-shadow: 0 3px 13px 0 rgba(14, 9, 73, 0.2),
        0 11px 21px 0 rgba(255, 166, 220, 0.004);
        transition: all .1s ease-in-out;
          &:hover {
            box-shadow: none;
            background-image: linear-gradient(-45deg, #fa388c 0, #8904ad 100%);
          }
          &:focus {
            outline: none;
            border: none;
            
          }
          &:active{
            opacity: 0.5;
            transform:translatey(5px);
          } 
    }

    
}

.banner-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    height: 80%;
    width: 60%;
  }
}

