.navi {
  box-shadow: 0 3px 13px 0 rgba(14, 9, 73, 0.2),
  0 11px 21px 0 rgba(255, 166, 220, 0.004);
}


 .register {
     //Button Link
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: 800;
    font-size: 1em;
    text-transform: uppercase;
    font-family: Poppins-SemiBold,Helvetica,Arial,sans-serif;
    border-radius: 100px;
    border: none;
    size: 50%;
    //Button shape & animation

    margin: 10px;
    padding: 1em 3em;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 3px 13px 0 rgba(14, 9, 73, 0.2),
    0 11px 21px 0 rgba(255, 166, 220, 0.004);
    background-image: linear-gradient(to right, #fd6b22 0%, #EA5455 50%, rgba(253, 80, 0, 0.5) 100%);
    transition: all .1s ease-in-out;

    &:focus {
      outline: none;
      border: none;
      box-shadow: none;
    }
    &:hover {
      cursor: pointer;
      background-position: right center;
      border-color: transparent;
      
    }
    &:active{
      opacity: 0.5;
      transform:translatey(5px);
    } 
 }
 
 @media (prefers-reduced-motion: no-preference) {
    .ki-logo {
        // width: 30px;
        // height: 30px;
        // box-sizing: border-box;
        // border: 2px white solid;
        // border-radius: 50%;
        overflow: hidden;
        // box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
        animation: float 2s ease-in-out infinite;
        img { width: 100%; height: auto; }
    }
  }

  
  @keyframes float {
	0% {
		//box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
	}
	50% {
		//box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-10px);
	}
	100% {
		//box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}